@if (OnClick.HasDelegate == true)
{
    <button id="@Name" value="@Title" class="@this.CssClass @_butttonStyle" style="@this.Style" @onclick="OnClick">
        @if (!string.IsNullOrEmpty(IconClass))
        {
            <i class="@IconClass"></i>
        }
        @Title
    </button>
}
else
{
    <button id="@Name" class="@_butttonStyle" style="@this.Style">
        @if (!string.IsNullOrEmpty(IconClass))
        {
            <i class="@IconClass"></i>
        }
        @Title
    </button>
}
